@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$Cyan: rgb(42, 178, 175);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color :hsl(203, 44%, 93%) ;
}
.center{
    display: flex ;
    justify-content: center;
    align-items:left;
    flex-direction: column;
}